*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #00d400;
    font-family: 'Roboto', sans-serif;

}

.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size:10px;
}
.burger{
    display:none;
    cursor: pointer;
}


.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 130px){
.nav-links {
    width: 60%;
    }
}

@media screen and (max-width: 1300px){
    body {
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #363b36;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:25%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;

    }
    .burger{
    display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.background{
    color: #999999;
    top: 0;
    left: 0;
    z-index: -100;
}

/*Slide*/

#slider{
    overflow:hidden;
}
#slider figure{
    position:relative;
    width:500%;
    margin: 0;
    left:0;
    animation: 20s slider infinite;
}
#slider figure img{
    width: 20%;
    float: left;
}

@keyframes slider {
    0%{
        left:0;
    }
    20% {
        left:0;
    }
   25%{
       left: -100%;
   }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left:-200%;
    }
    75%{
        left:-300%;
    }
    95%{
        left:-300%;
    }
    100%{
        left: -400%;
    }


}

/*footer*/



*{
    margin: 0;
    padding: 0;
    color: #ffffff;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.content1{
    position: relative;
    margin: 130px auto;
    text-align: center;
    padding: 0 20px;
}
.content1 .text{
    font-size: 2.5rem;
    font-weight: 600;
    color: #363b36;
}
.content1 .p{
    font-size: 2.1875rem;
    font-weight: 600;
    color: #363b36;
}
footer{
    bottom: 0px;
    width: 100%;
    background: #363b36;
}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;
    position: relative;
}
.box .content:before{
    position: absolute.;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #363b36;
}
.box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #00d400;
    top: -10px;
}
.left .content p{
    text-align: justify;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 0 2px;
}
.left .content .social a span{
    height: 40px;
    width: 40px;
    background: #363b36;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}
.left .content .social a span:hover{
    background: #00d400;
}
.center .content .fas{
    font-size: 1.4375rem;
    background: #363b36;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}
.center .content .fas:hover{
    background: #363b36;
}
.center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}
.center .content .phone{
    margin: 15px 0;
}
.right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: WHITE;
}
.right form .msg{
    margin-top: 10px;
}
.right form input, .right form .msgForm{
    width: 100%;
    font-size: 1.0625rem;
    background: #000000;
    padding-left: 10px;
    border: 1px solid #00d400;
}
.right form input:focus,
.right form .msgForm:focus{
    outline-color: #363b36;
}
.right form input{
    height: 35px;
}
.right form .btn{
    margin-top: 10px;
}
.right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #00d400;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}
.right form .btn button:hover{
    background: #363b36;
}
.bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #363b36;
}
.bottom center span{
    color: #656565;
}
.bottom center a{
    color: #00d400;
    text-decoration: none;
}
.bottom center a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 900px) {
    footer{
        position: relative;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
    .msgForm {
        width: 100%;
        font-size: 1.0625rem;
        background: #000000;
        padding-left: 10px;
        border: 1px solid #00d400;
    }
    textarea {
        background-color : black;
        border: 1px solid #00d400;
    }

}